.todo-list__wrapper {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin: 10px auto 0;
  overflow: auto;
  border-radius: 2px;
  height: auto;
  max-height: 65vh;
}
