.save-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  outline: none;
  line-height: 1;
  color: #757575;
}

.save-button:hover {
  color: #e57373;
}
