<div class="todo-item__wrapper">
  <input
    type="checkbox"
    (change)="handleCheck()"
    class="todo-item__checkbox"
    [checked]="isChecked"
  />
  <span
    [ngClass]="{
      'todo-item__text--done': todo.status === 'DONE',
      'todo-item__text': true
    }"
  >
    {{ todo.name }}
  </span>
  <button class="todo-item__button" type="button" (click)="handleToggleModal()">
    X
  </button>
  <app-confirm-modal
    *ngIf="isVisible"
    (handleDelete)="handleDelete()"
    (handleToggleModal)="handleToggleModal()"
  ></app-confirm-modal>
</div>
