<div class="todo-item__wrapper">
  <input
    type="checkbox"
    (change)="handleCheck()"
    class="todo-item__checkbox"
    [checked]="isChecked"
  />
  <span
    [ngClass]="{
      'todo-item__text--done': todo?.status === 'DONE',
      'todo-item__text': true
    }"
  >
    {{ todo?.name }}
  </span>
  <app-close-button (onClick)="handleToggleModal()"></app-close-button>
  <app-confirm-modal
    *ngIf="isVisible"
    (handleDelete)="handleDelete()"
    (handleToggleModal)="handleToggleModal()"
    [text]="confirmText"
  ></app-confirm-modal>
</div>
