<div class="todo-item__wrapper">
  <input
    type="checkbox"
    (change)="handleCheck()"
    class="todo-item__checkbox"
    [checked]="isChecked"
  />
  <span
    *ngIf="!isEditFormVisible"
    [ngClass]="{
      'todo-item__text--done': todo?.status === 'DONE',
      'todo-item__text': true
    }"
  >
    {{ todo?.name }}
  </span>
  <input
    *ngIf="isEditFormVisible"
    class="todo-item__input"
    [value]="inputEditValue"
    #editValue
    [(ngModel)]="inputEditValue"
  />
  <app-edit-button (onClick)="handleToggleForm()" *ngIf="!isEditFormVisible">
    {{ isEditFormVisible ? 'close' : 'edit' }}
  </app-edit-button>
  <app-save-button *ngIf="isEditFormVisible" (onClick)="handleEdit()">
  </app-save-button>
  <app-delete-button
    (onClick)="handleToggleModal()"
    *ngIf="!isEditFormVisible"
  ></app-delete-button>
  <app-close-button
    (onClick)="handleToggleForm()"
    *ngIf="isEditFormVisible"
  ></app-close-button>
  <app-confirm-modal
    *ngIf="isConfirmModalVisible"
    (handleDelete)="handleDelete()"
    (handleToggleModal)="handleToggleModal()"
    [text]="confirmText"
  ></app-confirm-modal>
</div>
