* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #eee; */
  background-color: black;
  display: grid;
  justify-content: center;
  font-family: sans-serif;
  margin-top: 5%;
}
